/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

h1 {
    font-family: "Arial";
    color: white;
}

p {
    font-family: "Arial";
    color: white;
}

body {
   background-color: rgb(48,48,48);
}

.left {
    position: absolute;
    left: 20px;
    right: 20px;
}